<aside class="page-aside">
    <nav class="aside-nav">
        <ul>
            <li class="">
                <a href="#">Раздел 1</a>
            </li>
            <li>
                <a class="on" href="#">Раздел 2</a>
            </li>
            <li class="">
                <a href="#">Раздел 3</a>
            </li>
            <li class="">
                <a href="#">Раздел 4</a>
            </li>
            <li class="">
                <a href="#"  class="on">Раздел с названием в две строки</a>
            </li>
        </ul>
    </nav>
</aside>