<header>
    <nav class="head-menu__catalog">
        <button class="js-init-menu__close btn btn-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="23.313" height="23.312" viewBox="0 0 23.313 23.312">
                <defs>
                    <style>
                        .cls-1 {
                            fill: #fff;
                            fill-rule: evenodd;
                        }
                    </style>
                </defs>
                <path id="crest" class="cls-1" d="M93.667,779.046l-2.121,2.121L82,771.621l-9.546,9.546-2.121-2.121,9.546-9.546-9.546-9.546,2.121-2.122L82,767.378l9.546-9.545,2.121,2.121L84.121,769.5Z" transform="translate(-70.344 -757.844)"/>
            </svg>
        </button>
        <ul>
            <li><a href="#">Емкости по ГОСТАМ</a></li>
            <li><a href="#">Резервуары вертикальные стальные</a></li>
            <li><a href="#">Аварийные емкости</a></li>
            <li><a class="active" href="#">Силосы</a></li>
            <li><a href="#">Жидкостные сетчатые фильтры</a></li>
        </ul>
    </nav>
    <div class="head-btn head-menu">
        <button class="js-init-menu btn btn-big btn-menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="23" viewBox="0 0 30 23">
                <defs>
                    <style>
                        .cls-1 {
                            fill: #333;
                            fill-rule: evenodd;
                        }
                    </style>
                </defs>
                <path id="catalog" class="cls-1" d="M30,67V64H60v3H30Zm0-23H60v3H30V44ZM50,57H30V54H50v3Z" transform="translate(-30 -44)"/>
            </svg>
            <span>Каталог</span>
        </button>
    </div>
    <div class="head-btn head-feedback">
        <button class="js-init-modal btn btn-big btn-feedback" data-modal="feedback">
            <span>Обратная связь</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="28" viewBox="0 0 30 28">
                <defs>
                    <style>
                        .cls-1 {
                            fill: #333;
                            fill-rule: evenodd;
                        }
                    </style>
                </defs>
                <path id="message" class="cls-1" d="M1888.12,65.333h-15L1868.44,70h-0.94a1.873,1.873,0,0,1-1.88-1.867v-2.8h-3.75a1.87,1.87,0,0,1-1.87-1.867v-19.6A1.87,1.87,0,0,1,1861.87,42h26.25a1.873,1.873,0,0,1,1.88,1.867v19.6A1.872,1.872,0,0,1,1888.12,65.333ZM1887.19,44.8h-24.38V62.533h5.63V66.04l3.52-3.507h15.23V44.8Z" transform="translate(-1860 -42)"/>
            </svg>
        </button>
    </div>
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-auto head-logo">
                <a href="/">
                    <img src="../../public/images/logo.png" alt="SLS">
                </a>
            </div>
            <div class="col-auto head-middle">
                <div class="head-grid-wrapper">
                    <div class="head-grid">
                        <div class="grid-item menu-item">
                            <a href="#" class="active">О компании</a>
                        </div>
                        <div class="grid-item menu-item">
                            <a href="#">Реализованные проекты</a>
                        </div>
                        <div class="grid-item menu-item">
                            <a href="#">Контактная информация</a>
                        </div>
                        <div class="grid-item contact-info phone-item">
                            <div class="contact-item__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12.031" height="12" viewBox="0 0 12.031 12">
                                    <defs>
                                        <style>
                                            .cls-1 {
                                                fill: #333;
                                                fill-rule: evenodd;
                                            }
                                        </style>
                                    </defs>
                                    <path id="phone" class="cls-1" d="M651.811,77a2.776,2.776,0,0,1-.921-0.158,12.653,12.653,0,0,1-7.782-7.969,2.753,2.753,0,0,1,.952-3.039l0.592-.451a1.883,1.883,0,0,1,2.811.635l1,1.943a1.307,1.307,0,0,1-.2,1.484l-0.209.227a0.731,0.731,0,0,0-.112.829,3.543,3.543,0,0,0,1.538,1.533,0.748,0.748,0,0,0,.832-0.111l0.227-.208a1.344,1.344,0,0,1,1.489-.2l1.949,1a1.87,1.87,0,0,1,.48,2.983l-0.679.684A2.783,2.783,0,0,1,651.811,77Zm-6.02-10.876a0.746,0.746,0,0,0-.454.152l-0.593.452a1.629,1.629,0,0,0-.564,1.8,11.524,11.524,0,0,0,7.086,7.256,1.672,1.672,0,0,0,1.711-.392l0.678-.684a0.746,0.746,0,0,0-.193-1.194l-1.948-1a0.2,0.2,0,0,0-.211.029l-0.228.208a1.9,1.9,0,0,1-2.11.282,4.66,4.66,0,0,1-2.024-2.018,1.858,1.858,0,0,1,.283-2.1l0.208-.226a0.182,0.182,0,0,0,.05-0.126,0.189,0.189,0,0,0-.02-0.085l-1-1.943A0.75,0.75,0,0,0,645.791,66.124Z" transform="translate(-642.969 -65)"/>
                                </svg>
                            </div>
                            <a href="tel:+7">+7 343 200-60-00</a>
                        </div>
                        <div class="grid-item contact-info email-item">
                            <div class="contact-item__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12">
                                    <defs>
                                        <style>
                                            .cls-1 {
                                                fill: #333;
                                                fill-rule: evenodd;
                                            }
                                        </style>
                                    </defs>
                                    <path id="mail" class="cls-1" d="M805.875,65a0.9,0.9,0,0,0-.875.923V76.077a0.9,0.9,0,0,0,.875.923h12.25A0.9,0.9,0,0,0,819,76.077V65.923A0.9,0.9,0,0,0,818.125,65h-12.25Zm11.812,1.384v0.362L812,71.782l-5.688-5.035V66.384h11.375Zm-11.375,9.231V68.554l5.125,4.537a0.839,0.839,0,0,0,1.125,0l5.125-4.537v7.061H806.312Z" transform="translate(-805 -65)"/>
                                </svg>
                            </div>
                            <a href="mailto:info@sls-eng.com">info@sls-eng.com</a>
                        </div>
                        <div class="grid-item contact-info geo-item">
                            <div class="contact-item__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" viewBox="0 0 12 16">
                                    <defs>
                                        <style>
                                            .cls-1 {
                                                fill: #333;
                                                fill-rule: evenodd;
                                            }
                                        </style>
                                    </defs>
                                    <path id="pin" class="cls-1" d="M992.043,72.253l-3.993,6.175a1.25,1.25,0,0,1-2.1,0l-3.991-6.175A6,6,0,1,1,992.043,72.253ZM987,64.5a4.5,4.5,0,0,0-3.782,6.939L987,77.29l3.783-5.852A4.5,4.5,0,0,0,987,64.5Zm0,7a2.5,2.5,0,1,1,2.5-2.5A2.5,2.5,0,0,1,987,71.5Zm0-3.5a1,1,0,1,0,1,1A1,1,0,0,0,987,68Z" transform="translate(-981 -63)"/>
                                </svg>
                            </div>
                            <a href="/contacts/">г. Екатеринбург, ул. Московская, 16</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto head-search-wrapper">
                <div class="head-buttons justify-content-md-start justify-content-between">
                    <button class="js-init-modal btn btn-default head-btn-callback" data-modal="callback">Обратный звонок</button>
                    <button class="js-init-search btn btn-default btn-icon">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
  <defs>
    <style>
      .cls-1 {
          fill: #333;
          fill-rule: evenodd;
      }
    </style>
  </defs>
  <path id="search" class="cls-1" d="M1510.5,50a4.493,4.493,0,0,0-3.55,7.256l-3.79,3.784a0.574,0.574,0,0,0,0,.8,0.572,0.572,0,0,0,.4.165,0.555,0.555,0,0,0,.4-0.165l3.78-3.784A4.5,4.5,0,1,0,1510.5,50Zm0,7.875a3.375,3.375,0,1,1,3.37-3.375A3.384,3.384,0,0,1,1510.5,57.875Z" transform="translate(-1503 -50)"/>
</svg>
                        </span>
                    </button>
                    <div class="head-search">
                        <form action="/" method="get" class="head-search__form search-form">
                            <input type="text" class="inp" value placeholder="Поиск по сайту">
                            <button type="submit" class="btn btn-search">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                                    <defs>
                                        <style>
                                            .cls-1 {
                                                fill: #333;
                                                fill-rule: evenodd;
                                            }
                                        </style>
                                    </defs>
                                    <path id="search" class="cls-1" d="M1510.5,50a4.493,4.493,0,0,0-3.55,7.256l-3.79,3.784a0.574,0.574,0,0,0,0,.8,0.572,0.572,0,0,0,.4.165,0.555,0.555,0,0,0,.4-0.165l3.78-3.784A4.5,4.5,0,1,0,1510.5,50Zm0,7.875a3.375,3.375,0,1,1,3.37-3.375A3.384,3.384,0,0,1,1510.5,57.875Z" transform="translate(-1503 -50)"/>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            {% include "_template/modules/responsive-menu.twig" %}
        </div>
    </div>

</header>
