<div class="page-head">
    <div class="container container-fluid">
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="breadcrumbs">
                    <a href="/">Главная</a>
                    <span class="sep">/</span>
                    <a href="/">Каталог продукции</a>
                    <span class="sep">/</span>
                    <span>Товар</span>
                </div>
            </div>
        </div>
    </div>
</div>