<div class="page-head page-project-head" style="background-image: url('../../public/images/project-head.png');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="breadcrumbs">
                    <a href="/">Главная</a>
                    <span class="sep">/</span>
                    <a href="/">Каталог продукции</a>
                    <span class="sep">/</span>
                    <span>Товар</span>
                </div>
            </div>
        </div>
    </div>
    <div class="project-page-title">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <h1 class="page-title">Вертикальный дренажный бак объемом 1 м3 для компании "Сибур"</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="js-init-scroll_down btn-scroll-down"></div>
</div>