<!doctype html>
<html lang="ru">
	<head>
		<title>Document</title>
		{% include "_template/meta.twig" %}
	</head>
	<body>
		{% include "_template/modules/header.twig" %}
		{% block layouts %}
			
		{% endblock %}
		{% include "_template/modules/footer.twig" %}
		{% include "_template/scripts.twig" %}
	</body>
</html>