<span class="box-modal_title">Запрос цены</span>
<form action="#" method="get" class="box-modal_form">
    <div class="form-group">
        <input type="text" name="NAME" class="inp validate" placeholder="ПРЕДСТАВТЕСЬ">
    </div>
    <div class="form-group">
        <input type="text" name="PHONE" data-inputmask="'mask':'+7 (999) 999-99-99'" class="inp validate" placeholder="ТЕЛЕФОН">
    </div>
    <div class="form-group btn-group form-btn justify-content-lg-start justify-content-center">
        <button class="btn btn-default btn-submit">Отправить</button>
    </div>
</form>