<section class="home-career career-wrap">
    <div class="container">
        <div class="row career-list">
            <div class="col-lg-5 col-lg-push-6 col-sm-12">
                <a href="#" class="career-item text-right">
                    <span class="career-item_name">Карьера и вакансии</span>
                    <div class="career-item_desc">От разработки технического задания и предпроектного обследования объектов до</div>
                </a>
            </div>
            <div class="col-lg-5 col-lg-pull-4 col-sm-12">
                <a href="#" class="career-item text-left">
                    <span class="career-item_name">Карьера и вакансии</span>
                    <div class="career-item_desc">От разработки технического задания и предпроектного обследования объектов до</div>
                </a>
            </div>
        </div>
    </div>
</section>