<section class="home-news news-wrap effects-wrap">
    <div class="container">
        <div class="row news-list">
            <div class="col-sm-12 all-news text-right">
                <a href="#" class="btn">Все новости</a>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="news-item">
                    <div class="news-item_caption">
                        <span class="grayscale"></span>
                        <span class="news-item_date date text-string">5 мая 2017</span>
                        <span class="news-item_name text-string">Название новости выглядит так</span>
                        <span class="news-item_desc text-string">
                            Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее
                        </span>
                        <a href="#" class="news-item_link read-more text-string">Подробнее</a>
                    </div>
                    <div class="news-item_image">
                        <img src="../../public/images/news.png" alt="#">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="news-item">
                    <div class="news-item_caption">
                        <span class="grayscale"></span>
                        <span class="news-item_date date text-string">5 мая 2017</span>
                        <span class="news-item_name text-string">Название новости выглядит так</span>
                        <span class="news-item_desc text-string">
                            Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее
                        </span>
                        <a href="#" class="news-item_link read-more text-string">Подробнее</a>
                    </div>
                    <div class="news-item_image">
                        <img src="../../public/images/news.png" alt="#">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="news-item">
                    <div class="news-item_caption">
                        <span class="grayscale"></span>
                        <span class="news-item_date date text-string">5 мая 2017</span>
                        <span class="news-item_name text-string">Название новости выглядит так</span>
                        <span class="news-item_desc text-string">
                            Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее
                        </span>
                        <a href="#" class="news-item_link read-more text-string">Подробнее</a>
                    </div>
                    <div class="news-item_image">
                        <img src="../../public/images/news.png" alt="#">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="news-item">
                    <div class="news-item_caption">
                        <span class="grayscale"></span>
                        <span class="news-item_date date text-string">5 мая 2017</span>
                        <span class="news-item_name text-string">Название новости выглядит так</span>
                        <span class="news-item_desc text-string">
                            Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее
                        </span>
                        <a href="#" class="news-item_link read-more text-string">Подробнее</a>
                    </div>
                    <div class="news-item_image">
                        <img src="../../public/images/news.png" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>