<section class="home-partners partners-wrap">
    <div class="container">
        <h1 class="block-title">About</h1>
        <div class="row partners-list">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <a href="#" class="partners-item">
                    <img src="../../public/images/logo.png" alt="#">
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <a href="#" class="partners-item">
                    <img src="../../public/images/logo.png" alt="#">
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <a href="#" class="partners-item">
                    <img src="../../public/images/logo.png" alt="#">
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <a href="#" class="partners-item">
                    <img src="../../public/images/logo.png" alt="#">
                </a>
            </div>
        </div>
    </div>
</section>