<section class="home-services services-wrap">
    <div class="container">
        <div class="row services-list">
            <div class="col-services col-sm-6 col-xs-12">
                <a href="#" class="service-item" style="background-image: url(../../public/images/slide1.png)">
                    <div class="service-item_img">
                        <div class="service-item_icon" style="background-image:url(../../public/images/service.png)"></div>
                    </div>
                    <div class="service-item_name">Проектирование</div>
                    <div class="service-item_desc">От разработки технического задания и предпроектного обследования объектов до разработки и корректировки проектной документации по результатам пусконаладочных работ</div>
                </a>
            </div>
            <div class="col-services col-sm-6 col-xs-12">
                <a href="#" class="service-item" style="background-image: url(../../public/images/slide1.png)">
                    <div class="service-item_img">
                        <div class="service-item_icon" style="background-image:url(../../public/images/service.png)"></div>
                    </div>
                    <div class="service-item_name">Service one Service one Service one Service one Service one Service one</div>
                    <div class="service-item_desc">Preview text description text description text description text description</div>
                </a>
            </div>
            <div class="col-services col-sm-6 col-xs-12">
                <a href="#" class="service-item" style="background-image: url(../../public/images/slide1.png)">
                    <div class="service-item_img">
                        <div class="service-item_icon" style="background-image:url(../../public/images/service.png)"></div>
                    </div>
                    <div class="service-item_name">Service one</div>
                    <div class="service-item_desc">Preview text description text description text description text description</div>
                </a>
            </div>
            <div class="col-services col-sm-6 col-xs-12">
                <a href="#" class="service-item" style="background-image: url(../../public/images/slide1.png)">
                    <div class="service-item_img">
                        <div class="service-item_icon" style="background-image:url(../../public/images/service.png)"></div>
                    </div>
                    <div class="service-item_name">Service one</div>
                    <div class="service-item_desc">Preview text description text description text description text description</div>
                </a>
            </div>
            <div class="col-services col-sm-6 col-xs-12">
                <a href="#" class="service-item" style="background-image: url(../../public/images/slide1.png)">
                    <div class="service-item_img">
                        <div class="service-item_icon" style="background-image:url(../../public/images/service.png)"></div>
                    </div>
                    <div class="service-item_name">Обучение персонала заказчика работе с оборудованием и программным обеспечением</div>
                    <div class="service-item_desc">Preview text description text description text description text description</div>
                </a>
            </div>
        </div>
    </div>
</section>