<section class="home-slider slider-list image-slider js-init-home_slider">
    <div class="slide-item" style="background-image: url(../../public/images/slide2.png)">
        <div class="container">
            <div class="slide-caption">
                <div class="slide-desc">Description</div>
                <div class="slide-name">Title slide</div>
            </div>
        </div>
    </div>
    <div class="slide-item" style="background-image: url(../../public/images/slide1.png)">
        <div class="container">
            <div class="slide-caption">
                <div class="slide-desc">Description 2</div>
                <div class="slide-name">Title slide 2</div>
            </div>
        </div>
    </div>
</section>