<div class="container">
    <div class="js-init-project-slider project-line_list">
        <a href="#" class="project-line_item btn btn-default">Все проекты</a>
        <a href="#" class="project-line_item btn btn-default">Резервуарное оборудование</a>
        <a href="#" class="project-line_item btn btn-default">Емкостное оборудование</a>
        <a href="#" class="project-line_item btn btn-default">Теплообиенное оборудование</a>
        <a href="#" class="project-line_item btn btn-default">Сепарационное оборудование</a>
    </div>
</div>