<div class="category-list">
    <a href="#" class="d-block category" style="background-image: url('../../public/images/category-item-1.png')">
        <div class="container">
            <div class="category-item">
                <div class="row no-gutters d-flex">
                    <div class="category-item-content">
                        <div class="category-title f-white d-flex justify-content-center align-items-center">Резервуары вертикальные стальные</div>
                        <div class="category-item_more"></div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="d-block category" style="background-image: url('../../public/images/category-item-2.png')">
        <div class="container">
            <div class="category-item">
                <div class="row no-gutters d-flex">
                    <div class="category-item-content">
                        <div class="category-title f-white d-flex justify-content-center align-items-center">Резервуары вертикальные стальные</div>
                        <div class="category-item_more"></div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="d-block category" style="background-image: url('../../public/images/category-item-1.png')">
        <div class="container">
            <div class="category-item">
                <div class="row no-gutters d-flex">
                    <div class="category-item-content">
                        <div class="category-title f-white d-flex justify-content-center align-items-center">Резервуары вертикальные стальные</div>
                        <div class="category-item_more"></div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="d-block category" style="background-image: url('../../public/images/category-item-2.png')">
        <div class="container">
            <div class="category-item">
                <div class="row no-gutters d-flex">
                    <div class="category-item-content">
                        <div class="category-title f-white d-flex justify-content-center align-items-center">Резервуары вертикальные стальные</div>
                        <div class="category-item_more"></div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>