<div class="page-category">
    <div class="container">
        <div class="row justify-content-center product-list">
            <div class="col-sm-6 col-auto">
                <div class="product-item">
                    <div class="product-item_img product-content justify-content-center align-items-center">
                        <a href="#">
                            <img src="../../public/images/product-item-1.png" alt="#">
                        </a>
                    </div>
                    <div class="product-item_desc product-content">
                        <a href="#" class="product-item_name f-title f-big">PBC 100</a>
                        <div class="product-item_text f-small">резервуар вертикальный стальной объемом 100м3 типа PBC 100.</div>
                        <div class="btn-group">
                            <a href="#" class="btn btn-default btn-product">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-auto">
                <div class="product-item">
                    <div class="product-item_img product-content justify-content-center align-items-center">
                        <a href="#">
                            <img src="../../public/images/product-item-2.png" alt="#">
                        </a>
                    </div>
                    <div class="product-item_desc product-content">
                        <a href="#" class="product-item_name f-title f-big">PBC 200</a>
                        <div class="product-item_text f-small">резервуар вертикальный стальной объемом 100м3 типа PBC 200.</div>
                        <div class="btn-group">
                            <a href="#" class="btn btn-default btn-product">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-auto">
                <div class="product-item">
                    <div class="product-item_img product-content justify-content-center align-items-center">
                        <a href="#">
                            <img src="../../public/images/product-item-1.png" alt="#">
                        </a>
                    </div>
                    <div class="product-item_desc product-content">
                        <a href="#" class="product-item_name f-title f-big">PBC 100</a>
                        <div class="product-item_text f-small">резервуар вертикальный стальной объемом 100м3 типа PBC 100.</div>
                        <div class="btn-group">
                            <a href="#" class="btn btn-default btn-product">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-auto">
                <div class="product-item">
                    <div class="product-item_img product-content justify-content-center align-items-center">
                        <a href="#">
                            <img src="../../public/images/product-item-2.png" alt="#">
                        </a>
                    </div>
                    <div class="product-item_desc product-content">
                        <a href="#" class="product-item_name f-title f-big">PBC 200</a>
                        <div class="product-item_text f-small">резервуар вертикальный стальной объемом 100м3 типа PBC 200.</div>
                        <div class="btn-group">
                            <a href="#" class="btn btn-default btn-product">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-auto">
                <div class="product-item">
                    <div class="product-item_img product-content justify-content-center align-items-center">
                        <a href="#">
                            <img src="../../public/images/product-item-1.png" alt="#">
                        </a>
                    </div>
                    <div class="product-item_desc product-content">
                        <a href="#" class="product-item_name f-title f-big">PBC 100</a>
                        <div class="product-item_text f-small">резервуар вертикальный стальной объемом 100м3 типа PBC 100.</div>
                        <div class="btn-group">
                            <a href="#" class="btn btn-default btn-product">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-auto">
                <div class="product-item">
                    <div class="product-item_img product-content justify-content-center align-items-center">
                        <a href="#">
                            <img src="../../public/images/product-item-2.png" alt="#">
                        </a>
                    </div>
                    <div class="product-item_desc product-content">
                        <a href="#" class="product-item_name f-title f-big">PBC 200</a>
                        <div class="product-item_text f-small">резервуар вертикальный стальной объемом 100м3 типа PBC 200.</div>
                        <div class="btn-group">
                            <a href="#" class="btn btn-default btn-product">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>