<section class="section-detail-product">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-12 offset-md-1">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <h2 class="section-title">Технические характеристики</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-12 offset-md-1">
                <div class="section-subtitle"><span>Стенка РВС–1000</span></div>
                <div class="section-detail-content section-option-list f-big">
                    <div class="row">
                        <div class="col-sm-6 col-12 option-item">
                            <div class="option-item_title">Номинальный объем, м³</div>
                            <div class="f-title">1000</div>
                        </div>
                        <div class="col-sm-6 col-12 option-item">
                            <div class="option-item_title">Внутренний диаметр стенки, мм	</div>
                            <div class="f-title">10430</div>
                        </div>
                        <div class="col-sm-6 col-12 option-item">
                            <div class="option-item_title">Высота стенки, мм</div>
                            <div class="f-title">12000</div>
                        </div>
                        <div class="col-sm-6 col-12 option-item">
                            <div class="option-item_title">Расчетная высота налива, мм	</div>
                            <div class="f-title">12000</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>