<section class="section-detail-product">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-12 offset-md-1">
                <div class="product-detail_description">
                    <div class="row">
                        <div class="col-sm-4 col-12">
                            <div class="js-init-product-slider product-detail_slider">
                                <div class="product-slide">
                                    <img src="../../public/images/product-detail-1.png" alt="#">
                                </div>
                                <div class="product-slide">
                                    <img src="../../public/images/product-item-2.png" alt="#">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5 offset-sm-2">
                            <div class="product-detail_anons">
                                <h2 class="product-detail_name">PBC 100</h2>
                                <p>Резервуар вертикальный стальной объемом 1000 м3 типа РВС 1000. Размеры D10400×12000 мм.</p>
                                <div class="btn-group">
                                    <a href="#" class="btn btn-default js-init-modal" data-modal="fast_order">Запросить стоимость</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
