.btn {
  font-family: 'Akrobat', sans-serif;
  font-weight: 700;
  border:none;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 14px;
  cursor:pointer;
  transition: 300ms;
  text-decoration: none;
  &:hover, &:focus, &:active, svg, svg path, span, &:before, &:after, span:before, span:after {
    transition: 300ms;
  }
}

.btn-menu {
  display: flex;
  padding-left: 30px;
  align-items: center;
  background-color: #fcde20;
  width:160px;
  height:100%;
  span {
    padding-left: 20px;
    color:#333;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    right: -40px;
    top:0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 110px 40px 0 0;
    border-color: #fcde20 transparent transparent transparent;
  }
  &:hover, &:active, &:focus {
    background-color: #333333;
    span {
      color:#fff;
    }
    svg {
      path {
        fill: #fff;
      }
    }
    &:before {
      border-color: #333333 transparent transparent transparent;
    }
  }
}
.btn-feedback {
  display: flex;
  align-items: center;
  justify-content: center;
  width:180px;
  height:100%;
  background-color: #ededed;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: -40px;
    top:0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 110px 40px;
    border-color: transparent transparent #ededed transparent;
  }
  span {
    color:#333;
    padding-right: 20px;
  }
  &:hover, &:active, &:focus {
    background-color: #333333;
    span {
      color:#fff;
    }
    svg {
      path {
        fill: #fff;
        transition:300ms;
      }
    }
    &:before {
      border-color: transparent transparent #333333 transparent;
    }
  }
}
.btn-menu, .btn-feedback {
  color:#fff;
  span {
    border-color:#fff;
  }
}
.btn-default {
  position: relative;
  display: flex;
  background-color: #e01e24;
  color:#fff;
  align-items: center;
  height:42px;
  line-height: 42px;
  padding: 0 13px;
  z-index: 1;
  &:after, &:before {
    content: '';
    display: block;
    position: absolute;
    top:0;
    width:0;
    height:0;
    border-style: solid;
    z-index:1;
  }
  &:before {
    left:-14px;
    border-width: 0 0 42px 14px;
    border-color: transparent transparent #e01e24 transparent;
  }
  &:after {
    right:-14px;
    border-width: 42px 14px 0 0;
    border-color: #e01e24 transparent transparent transparent;
  }
  &:hover, &:active, &:focus {
    color:#333;
    background-color: #fcde20;
    &:after {
      border-color: #fcde20 transparent transparent transparent;
    }
    &:before {
      border-color: transparent transparent #fcde20 transparent;
    }
  }
}
.btn-icon {
  position:relative;
  display: flex;
  width:28px;
  padding:0;
  align-items: center;
  justify-content: center;
  background-color: #d4d4d4;
  &:before {
    border-color: transparent transparent #d4d4d4 transparent;
  }
  &:after {
    border-color: #d4d4d4 transparent transparent transparent;
  }
  span {
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    top:1px;
    bottom:1px;
    left:1px;
    right:1px;
    height:calc(100% - 2px);
    &:after, &:before {
      content:'';
      display: block;
      position: absolute;
      top:0;
      width:0;
      height:0;
      border-style: solid;
      z-index: 2;
    }
    &:before {
      left:-14px;
      border-width: 0 0 40px 14px;
      border-color: transparent transparent #fff transparent;
    }
    &:after {
      right:-14px;
      border-width: 40px 14px 0 0;
      border-color: #fff transparent transparent transparent;
    }
  }
  &:hover, &:active, &:focus {
    background-color: #333333;
    span {
      background-color: #333333;
      &:before {
        border-color: transparent transparent #333333 transparent;
      }
      &:after {
        border-color: #333333 transparent transparent transparent;
      }
    }
    &:before {
      border-color: transparent transparent #333333 transparent;
    }
    &:after {
      border-color: #333333 transparent transparent transparent;
    }
    svg {
      path {
        fill:#fff;
      }
    }
  }
}
.btn-close {
  display: flex;
  height:100%;
  width:40px;
  align-items: center;
  justify-content: center;
  svg {
    path {
      fill:#fff;
    }
  }
}
.btn-arrow {
  i {
    position: relative;
    width:11px;
    height:11px;
    display: block;
    border-top:2px solid #a4a4a4;
    border-left:2px solid #a4a4a4;
    transition: 300ms;
  }
  &.slick-next {
    i {
      left:-2px;
      transform: rotate(135deg);
    }
  }
  &.slick-prev {
    i {
      right:-2px;
      transform: rotate(-45deg);
    }
  }
  &:hover, &:active, &:focus {
    i {
      border-top:2px solid #e01e24;
      border-left:2px solid #e01e24;
    }
  }
}
.btn-inverse {
  background-color: #fcde20;
  color:#333;
  &:before {
    border-color: transparent transparent #fcde20 transparent;
  }
  &:after {
    border-color: #fcde20 transparent transparent transparent;
  }
  &:hover, &:active, &:focus {
    background-color: #fff;
    &:before {
      border-color: transparent transparent #fff transparent;
    }
    &:after {
      border-color: #fff transparent transparent transparent;
    }
  }
}
.btn-min {
  width:70px;
}
.btn-group {
  display: flex;
  margin-left: 16px;
}