.page-head {
  padding: 75px 0 35px;
}
.page-title {
  margin:10px 0 30px;
  text-transform: uppercase;
}
.breadcrumbs {
  color:#a4a4a4;
  a {
    color:#a4a4a4;
  }
  .sep {
    padding: 0 5px;
  }
}