.product-item {
  background-color: #fff;
  margin-bottom: 30px;
}
.product-content {
  padding: 34px 29px 39px;
}
.product-item_img {
  display: flex;
}
.product-item_desc {
  border:1px solid #ededed;
}
.product-item_text {
  margin-bottom: 50px;
}