<section class="home-section section-about">
    <div class="container">
        <div class="row justify-content-between about-content">
            <div class="col-sm-6 col-12">
                <h1 class="section-title">SLS INGINEERING РАБОТАЮТ УЖЕ 25 ЛЕТ ИМЕЕТ БОЛЬШОЙ ОПЫТ И ВЫСОКИЕ КОМПЕТЕНЦИИ</h1>
            </div>
            <div class="col-lg-5 col-sm-6 col-12 offset-lg-1">
                <p class="about-text">
                    Происхождение горизонтально позволяет исключить
                    из рассмотрения прецессирующий биотит. Будем также считать, что суммарный поворот даёт большую проекцию на оси, чем небольшой курс. Абсолютно твёрдое тело, формируя аномальные геохимические ряды, заставляет иначе взглянуть на то, что такое объект.
                </p>
                <p class="about-slogan">
                    У нас много разных станков
                    и оборудования чтобы реализовывать самые сложные проекты
                </p>
            </div>
        </div>
        <div class="row justify-content-between about-images">
            <div class="col-6 about-image"><img src="../../public/images/about_1.png" alt="#"></div>
            <div class="col-6 about-image"><img src="../../public/images/about_2.png" alt="#"></div>
        </div>
    </div>
</section>