<section class="section-advantages">
    <div class="container">
        <div class="advantages-list">
            <div class="row">
                <div class="col-sm-6 col-12">
                    <div class="advantage-item">
                        <div class="advantage-item__icon"><span>1</span></div>
                        <div class="advantage-item__desc">
                            Производство и доставка любых
                            узлов, комплектующих и расходных
                            материалов для всех типов оборудования.
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="advantage-item">
                        <div class="advantage-item__icon"><span>2</span></div>
                        <div class="advantage-item__desc">
                            Гарантийное обслуживание всех
                            машин с заменой изношенных деталей
                            в сроки, определенные договором.
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="advantage-item">
                        <div class="advantage-item__icon"><span>3</span></div>
                        <div class="advantage-item__desc">
                            Проверка и контроль оборудования
                            в целях сохранения её производительности
                            и актуальности заявленным техническим
                            данным.
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="advantage-item">
                        <div class="advantage-item__icon"><span>4</span></div>
                        <div class="advantage-item__desc">
                            Гарантийное обслуживание всех
                            машин с заменой изношенных деталей
                            в сроки, определенные договором.
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-group justify-content-center justify-content-xl-start">
                <a href="#" class="btn btn-default btn-inverse">ПОДРОБНЕЕ О НАС</a>
            </div>
        </div>
    </div>
</section>