<section class="section-form">
    <div class="container">
            <div class="row justify-content-center">
                <div class="feedback-form">
                    <h2 class="section-title f-white feedback-form__title">Свяжитесь с нами</h2>
                    <form action="#" method="get" class="box-modal_form validate">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <input type="text" name="NAME" class="inp validate" placeholder="ПРЕДСТАВТЕСЬ">
                            </div>
                            <div class="col-sm-6 form-group">
                                <input type="text" data-inputmask="'mask':'+7 (999) 999-99-99'"  name="PHONE" class="inp validate" placeholder="ТЕЛЕФОН">
                            </div>
                            <div class="col-sm-12 form-group">
                                <textarea autocomplete="off" type="text" name="PHONE" class="textarea validate" placeholder="СООБЩЕНИЕ"></textarea>
                            </div>
                        </div>
                        <div class="form-group btn-group form-btn justify-content-center justify-content-lg-start">
                            <button class="btn btn-default btn-submit">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>