<section class="home-section section-projects">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">Реализованные<br>проекты</h2>
            </div>
            <div class="col-md-12 justify-content-sm-center">
                <a href="#" class="project-item">
                    <div class="project-item__desc">
                        <div class="project-item__category">Категория проекта</div>
                        <div class="project-item__name">Кронтштейны<br>
                            для вентириуемых
                            фасадов</div>
                    </div>
                    <div class="project-item__img">
                        <img src="../../public/images/project_1.png" alt="#">
                    </div>
                </a>
                <a href="#" class="project-item">
                    <div class="project-item__desc">
                        <div class="project-item__category">Категория проекта</div>
                        <div class="project-item__name">балки и колонны
                            для благоустройства
                            перекрытия</div>
                    </div>
                    <div class="project-item__img">
                        <img src="../../public/images/project_2.png" alt="#">
                    </div>
                </a>
                <a href="#" class="project-item">
                    <div class="project-item__desc">
                        <div class="project-item__category">Категория проекта</div>
                        <div class="project-item__name">Вышка
                            для дымохода</div>
                    </div>
                    <div class="project-item__img">
                        <img src="../../public/images/project_3.png" alt="#">
                    </div>
                </a>
            </div>
        </div>
        <div class="btn-group justify-content-center justify-content-lg-start">
            <a href="#" class="btn btn-default btn-inverse">Все проекты</a>
        </div>
    </div>
</section>