<section class="section-slide">
    <div class="slide-item justify-content-center">
        <div class="slide-item__image">
            <img src="../../public/images/slide-home.jpg" alt="#">
            <div class="slide-item__labels labels-list">
                <div class="label-item btn btn-default label-1">
                    <span class="label-item__icon"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path id="plus" class="cls-1" d="M681,512h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2Z" transform="translate(-669 -505)"/></svg></span>
                    <span class="label-item__name">Технологические системы</span>
                </div>
                <div class="label-item btn btn-default label-2">
                    <span class="label-item__icon"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path id="plus" class="cls-1" d="M681,512h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2Z" transform="translate(-669 -505)"/></svg></span>
                    <span class="label-item__name">Технологические системы</span>
                </div>
                <div class="label-item btn btn-default label-3">
                    <span class="label-item__icon"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path id="plus" class="cls-1" d="M681,512h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2Z" transform="translate(-669 -505)"/></svg></span>
                    <span class="label-item__name">Технологические системы</span>
                </div>
                <div class="label-item btn btn-default label-4">
                    <span class="label-item__icon"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path id="plus" class="cls-1" d="M681,512h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2Z" transform="translate(-669 -505)"/></svg></span>
                    <span class="label-item__name">Технологические системы</span>
                </div>
                <div class="label-item btn btn-default label-5">
                    <span class="label-item__icon"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path id="plus" class="cls-1" d="M681,512h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2Z" transform="translate(-669 -505)"/></svg></span>
                    <span class="label-item__name">Технологические системы</span>
                </div>
                <div class="label-item btn btn-default label-6">
                    <span class="label-item__icon"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path id="plus" class="cls-1" d="M681,512h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2Z" transform="translate(-669 -505)"/></svg></span>
                    <span class="label-item__name">Технологические системы</span>
                </div>
                <div class="label-item btn btn-default label-7">
                    <span class="label-item__icon"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path id="plus" class="cls-1" d="M681,512h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2Z" transform="translate(-669 -505)"/></svg></span>
                    <span class="label-item__name">Технологические системы</span>
                </div>
                <div class="label-item btn btn-default label-8">
                    <span class="label-item__icon"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path id="plus" class="cls-1" d="M681,512h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2Z" transform="translate(-669 -505)"/></svg></span>
                    <span class="label-item__name">Технологические системы</span>
                </div>
            </div>
        </div>
        <div class="slide-item_container ">
            <div class="container">
                <div class="slide-item__head justify-content-center">
                    <div class="slide-item__title">ПРОЕКТИРОВАНИЕ И ИЗГОТОВЛЕНИЕ МЕТАЛЛИЧЕСКИХ</div>
                    <div class="slide-item__title">ЕМКОСТЕЙ ИЗ РАЗНЫХ МАТЕРИАЛОВ И СПЛАВОВ</div>
                </div>
            </div>
        </div>
    </div>
</section>